.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/img/ba1.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 5em;
}

.textOn {
  margin-top: 20em;
}

#theader {
  font-size: 3rem;
}
#tbody {
  font-size: 1.3rem;
}
.react {
  background-color: #16a3b8;
}

#textarea1 {
  font-size: 1.5em;
}
#enviar {
  background: #96c83f;
  font-size: 1.5em;
  transition: 0.2s;
}
#enviar:hover{
  background:#6f942f;
}

footer {
  background: rgb(28, 55, 66);
  background: linear-gradient(
    90deg,
    rgba(28, 55, 66, 1) 0%,
    rgba(31, 83, 112, 1) 100%
  );
}
footer ul {
  list-style-type: none;
}

@media screen and (max-width:767px){
  #theader {
    font-size: 2.25rem;
  }
  #tbody {
    font-size: 0.975rem;
  }
  .bannerbut{
    font-size: 0.75rem;
  }
}